

.hand-cursor{
    cursor: pointer;
}

ion-button {
    text-transform: none;
 
    
}




// safe padding for ios
.safe-p-bottom{
    padding-bottom: constant(safe-area-inset-bottom); // for ios 13+
    padding-bottom: env(safe-area-inset-bottom); // for previous ios versions
}

.submit {
    margin-top: 40px;

}

.empty {
    text-align: center;
    padding: 60px;
    opacity: 30%;

    ion-icon {
        font-size: 100px;
    }
}

.d-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}



.validators {
    color: var(--ion-color-danger);
    font-size: 13px;
    text-align: center;
}


.auth-form {
    width: 99%;
    text-align: center;
    margin: 3%;

}




@media  screen and  (min-width: 412px) {
    .auth-form {
        width: 600px;
        padding: 3%;
    }

}

@media (prefers-color-scheme: dark) {
   p{
      color: white; /* Cambiar el color de h1 en modo oscuro a blanco */
    }}