ion-title {
  line-height: 30px;
  color: #fff;

  .app-name {
    font-size: 20px;
  }
}

.modal-icon {
  font-size: 30px;
  color: #e8f7ff;
}

/* ion-list.hide-on-mobile {
  display: none;
} */

ion-list {
  display: block;
  padding: 0;
}

ion-toolbar {
  height: 60px;
  /* Altura predeterminada del ion-toolbar */
  box-shadow: 4px 0px 16px #8cbd62;
  --background: #8cbd62;
}

ion-button.button {
  --cursor: pointer;
}
.salir{
  font-size: 20px;
}

/* Estilos para dispositivos móviles */
@media only screen and (max-width: 767px) {
  ion-header {
    height: 1%;
    /* ion-list {
      background: var(--ion-color-success);
      border-radius: 0 0 25px 25px;
      padding-bottom: 7vh;
      ion-item {
        font-weight: bold;
        font-size: 1.2rem;
        letter-spacing: 0.5px;
      }
    } */
  }

  ion-toolbar {
    height: 65px;
    /* Permitir que el ion-toolbar ajuste automáticamente su altura */
    flex-direction: column;
    /* Cambiar la dirección del flex container a columna */
    align-items: flex-start;
    /* Alinear los elementos del flex container al inicio */
    box-shadow: 4px 0px 16px #8cbd62;
  }

  .app-name {
    font-size: 20px;
    display: block; /* Asegurar que el título sea un bloque */
    text-align: center; /* Centrar el texto por defecto */
  }

  ion-title {
    margin-left: 1%;
    font-size: 10%;
  }

  ion-menu-button {
    font-size: 32px; /* Ajusta el tamaño de la fuente según tus preferencias */
    height: 65px; /* Establece la altura deseada para el botón */
    width: 65px; /* Establece el ancho deseado para el botón */
    margin-top: 1px; /* Ajusta el margen superior según sea necesario */
  }

  .modal-icon {
    font-size: 35px;
    margin-top: 20%;
  }
}

ion-toolbar::part(container) {
  border-radius: 0 20px 20px 0;
}

.horizontal-menu {
  display: flex;
  justify-content: space-between; /* Ajustar el espaciado entre los elementos del menú */
  align-items: center;
}

.horizontal-menu a {
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 25px;
  transition: background-color 0.3s ease; /* Agregar una transición suave para el cambio de color */
  font-weight: bold; /* Agregar negrita al texto */
  margin-right: 10px; /* Agrega un espacio a la derecha de cada botón */
}

.horizontal-menu a:hover,
.horizontal-menu a.active {
  background-color: #ddd; /* Define el color de fondo para el hover y cuando está activo */
}

ion-menu-button {
  display: none;
  color: #fff;
}

ion-back-button {
  color: #fff;
}

.log-img {
  width: 200px; /* Ajusta el ancho de la imagen según tus preferencias */
  height: auto; /* Ajusta automáticamente la altura para mantener la proporción */
  display: block; /* Asegura que la imagen sea un bloque para poder centrarla */
  margin-left: 5%;
}

/* Media query para mostrar el menú solo en pantallas grandes (computadoras) */
@media screen and (max-width: 768px) {
  .horizontal-menu {
    display: none; /* Ocultar el menú en pantallas pequeñas */
  }

  ion-menu-button {
    display: block;
    color: #e8f7ff;
  }

  .app-name {
    text-align: right; /* Alinear el texto a la derecha en pantallas pequeñas */
  }

  .log-img {
    text-align: right; /* Alinear el texto a la derecha en pantallas pequeñas */
    margin-left: 35%;
    width: 150px; /* Ajusta el ancho de la imagen según tus preferencias */
  }

  ion-list {
    display: block;
    padding: 0;
  }
}
