<ion-header class="ion-no-border">
  <ion-toolbar color="success">

    <ion-buttons slot="start">
      <ion-back-button *ngIf="backButton" [defaultHref]="backButton"></ion-back-button>
      <ion-button *ngIf="isModal" >
        <ion-icon name="close-circle-outline" class="modal-icon"></ion-icon>
      </ion-button>
      <ion-menu-button *ngIf="MenuButton"></ion-menu-button>
    </ion-buttons>


    <ion-title *ngIf="title">
      <div class="app-name" >
      <strong>{{ title }}</strong>
    </div>
    </ion-title>

  </ion-toolbar>
</ion-header>