<ion-header class="ion-no-border">
  <ion-toolbar>
    <!-- Botones de inicio -->
    <ion-buttons slot="start">
      <ion-back-button
        *ngIf="backButton"
        [defaultHref]="backButton"
      ></ion-back-button>
      <ion-button (click)="dismissModal()" *ngIf="isModal">
        <ion-icon name="close-circle-outline" class="modal-icon"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-icon
      name="log-out-outline"
      (click)="salir()"
      class="salir"
      *ngIf="Salir"
      color="light"
      title="Cerrar Sesión"
    ></ion-icon>

    <!-- Título de la aplicación -->
    <ion-title *ngIf="title">
      <div class="app-name">
        <strong>{{ title }}</strong>
      </div>
    </ion-title>

    <!-- Título de la aplicación -->
    <div class="log-img rotate-in-2-cw">
      <ion-img *ngIf="Logo" src="../assets/logo-L.png"></ion-img>
    </div>

    <ion-button
      *ngIf="Manual"
      (click)="ayuda()"
      expand="block"
      fill="clear"
      shape="round"
      slot="end"
      size="20"
      title="MANUAL AYUDA"
      class="button"
    >
      <ion-icon
        slot="end"
        name="help-circle-outline"
        size="large"
        color="light"
        hover=""
      ></ion-icon>
    </ion-button>

    <!-- Menú de navegación horizontal en el lado derecho -->
    <div *ngIf="shouldShowHorizontalMenu" class="horizontal-menu" slot="end">
      <a [routerLink]="['/main/home']" routerLinkActive="active">Inicio</a>
      <a [routerLink]="['/main/servicios']" routerLinkActive="active">Servicios</a>
      <a (click)="goContactanos()" style="cursor: pointer">Contáctanos</a>
      <p style="color: white;"><strong>Descarga el Apk</strong></p>
      <a href="https://lerdosapal.mx/apk_release/LERDO_DIGITAL.apk" download> Android! <ion-icon name="logo-android"></ion-icon> </a>
      <!-- <a href="" download=""> IOS! <ion-icon name="logo-apple"></ion-icon> </a> -->
      <!-- ... más enlaces según sea necesario -->
    </div>

    <div *ngIf="shouldShowHorizontalMenu2" class="horizontal-menu" slot="end">
     <a [routerLink]="['/main/perfil']" routerLinkActive="active">Bienvenido&nbsp;&nbsp;{{ nombreUsuario }}</a>  
      <a [routerLink]="['/main/folio']" routerLinkActive="active">Pagos</a>
      <a [routerLink]="['/main/facturacion2']" routerLinkActive="active">Facturación</a>
      <a [routerLink]="['/main/factura-tables']" routerLinkActive="active">Ver Facturas</a>
    </div>

    <!-- Botón de menú -->
    <ion-menu-button
      class="menu-button"
      *ngIf="MenuButton"
      slot="end"
    ></ion-menu-button>
  </ion-toolbar>
</ion-header>
