<ion-header class="ion-no-border">
  <ion-toolbar >
    <!-- Botones de inicio -->
    <ion-buttons slot="start">
      <ion-back-button
        *ngIf="backButton"
        [defaultHref]="backButton"
      ></ion-back-button>
      <ion-button (click)="dismissModal()"  *ngIf="isModal" >
        <ion-icon name="close-circle-outline" class="modal-icon"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-button (click)="salir()"  *ngIf="Salir" shape="round" color="light">
      Salir
    </ion-button> 

  

    <!-- Título de la aplicación -->
    <ion-title *ngIf="title">
      <div class="app-name">
        <strong>{{ title }}</strong>
      </div>
    </ion-title>

    <!-- Título de la aplicación -->
    <div class="log-img rotate-in-2-cw" >
      <ion-img  *ngIf="Logo" src="../assets/logo2Lerdo.png"></ion-img>
    </div>

    <ion-button *ngIf="Manual" (click)="ayuda()" expand="block" fill="clear" shape="round" slot="end" size="20" title="MANUAL AYUDA" class="button">
      <ion-icon slot="end" name="help-circle-outline" size="large" color="light" hover=""></ion-icon>
    </ion-button>




    <!-- Menú de navegación horizontal en el lado derecho -->
    <div *ngIf="shouldShowHorizontalMenu" class="horizontal-menu" slot="end">
      <a [routerLink]="['/main/home']" routerLinkActive="active">Inicio</a>
      <a [routerLink]="['/main/servicios']" routerLinkActive="active">Servicios</a>
      <a [routerLink]="['/main/facturacion']" routerLinkActive="active">Facturación</a>
      <!-- ... más enlaces según sea necesario -->
    </div>

   
    <!-- Botón de menú -->
    <ion-menu-button
      class="menu-button"
      *ngIf="MenuButton"
      slot="end"
    ></ion-menu-button>
  </ion-toolbar>
</ion-header>
