ion-content {
  --keyboard-offset: 0 !important;
}

h1 {
  font-weight: bold;
  line-height: 25px;
  text-align: center;
  margin-bottom: 50px;
}

h4 {
  line-height: 19px;
}

.card-container {
  text-align: center;
}

.icon {
  font-size: 100px;
}

.custom-input {
  --border-color: #e0e0e0;
  --border-radius: 15px;
  --border-style: solid;
  --border-width: 1px;
  margin: 20px 0;

  .custom-input:active {
    --border-color: green;
  }
}

.auth-form {
  width: 100%;
  padding: 25px;
}

.altaRFC {
  text-align: center;
}

.form-container {
  padding: 10px;
  /* Espaciado interno del cuadro */
  border-radius: 10px;
  /* Bordes redondeados del cuadro */

  max-width: 600px;
  /* Ancho máximo del cuadro */
  margin: auto;

  margin-top: -60px;
  /* Centrar el cuadro en la página */
  width: 100%;
  /* Hacer que el cuadro ocupe el 100% del ancho disponible */
  box-sizing: border-box;
  /* Incluir el padding y el borde en el ancho total */


}

ion-button.buttons-form {
  border-radius: 35px;
  --cursor: pointer;
  --padding-top: 0;
  --padding-bottom: 0;
  --padding-start: 0;
  --padding-end: 0;
  font-size: 1em;
  transition: transform 0.3s, box-shadow 0.3s; /* Suaviza la transición del efecto hover */
}

ion-button.buttons-form:hover {
  transform: translateY(-2px); /* Eleva ligeramente el botón */
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2); /* Añade sombra para efecto de relieve */
}

ion-card {
  --background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 53%;
  height: 67%;
  left: 24%;
  right: auto;
  margin-top: 3%;
  overflow: hidden; /* Asegura que el contenido que excede el tamaño del card no se muestre fuera de él */
}

.contenido-scrollable {
  max-height: 88%; /* Ajusta esto según la altura de tu ion-card para permitir espacio para el encabezado/título del card, etc. */
  overflow-y: auto; /* Habilita el scroll vertical */
}

ion-card-header {
  --background: #fff;
  background-color: #d3d3d3; /* Fondo ligeramente diferente para el encabezado */
  border-bottom: 2px solid #e0e0e0; /* Línea divisoria sutil */
}

ion-card-title {
  color: #333; /* Color más oscuro para el título */
  --background: #fff;
  font-weight: bold;
}

ion-label {
  font-weight: bold; /* Etiquetas en negrita para mejor legibilidad */
  font-size: 1.2rem;
}

ion-item {
  --background: var(--ion-color-step-50, #ffffff);
  --border-color: var(--ion-color-step-500, rgb(207, 207, 207));
  --border-radius: 4px;
  --padding-start: 16px;
  --padding-end: 16px;
  min-height: 56px;
}

ion-list {
  background: #fff;
}
.list-factura {
  border-radius: 8px;
  padding: 5px;
}

/* ion-item {
  --background: var(--ion-color-step-50, #ffffff);
  --border-color: var(--ion-color-step-500, rgb(207, 207, 207));
  --border-radius: 4px;
  --padding-start: 16px;
  --padding-end: 16px;
  min-height: 56px;
} */

ion-select {
  --background: transparent;
}

.action-sheet-container.sc-ion-action-sheet-md {
  --background: white;
}

.table-scroll {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.buttons-form-container ion-button {
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 767px) {
  .auth-form {
    width: 100%;
    padding: 10px;
  }

  ion-card {
    width: 90%;
    height: 60%;
    left: 2%;
    right: auto;
    margin-top: 8%;
   max-width: 100%;
   max-height: 100%;
  }

  .list-factura {
    border-radius: 8px;
    padding: 5px;
    padding-top: 0px;

  }

  .form-container {
    border: 3px solid #e0e0e0; /* Borde del cuadro */

    box-shadow: 0 0 20px #ffc16a76;
    /* Sombra del cuadro */
    margin: 2px auto;
    /* Espaciado alrededor del cuadro y centrar en la página */

    background-color: #e0e0e0a5;

    padding: 10px;
    /* Espaciado interno del cuadro */
    border-radius: 10px;
    /* Bordes redondeados del cuadro */

    max-width: 100%;
    width: 100%;
    /* Hacer que el cuadro ocupe el 100% del ancho disponible */
    box-sizing: border-box;
    /* Incluir el padding y el borde en el ancho total */
    
  }

  .buttons-movil ion-button {
    --border-radius: 30px;
  }
}
