ion-content {
  --keyboard-offset: 0 !important;
}




h1 {
  font-weight: bold;
  line-height: 25px;
  text-align: center;
}

h4 {
  line-height: 19px;
}


.card-container {
  text-align: center;
}

.icon {
  font-size: 100px;
}

.custom-input {
  --border-color: #e0e0e0;
  --border-radius: 15px;
  --border-style: solid;
  --border-width: 1px;
  margin: 20px 0;

  .custom-input:active {
    --border-color: green;
  }
}


.auth-form {
  width: 100%;
  padding: 20px;
}



.form-container {

  padding: 10px;
  /* Espaciado interno del cuadro */
  border-radius: 10px;
  /* Bordes redondeados del cuadro */

  max-width: 600px;
  /* Ancho máximo del cuadro */
  margin: auto;
  /* Centrar el cuadro en la página */
  width: 100%;
  /* Hacer que el cuadro ocupe el 100% del ancho disponible */
  box-sizing: border-box;
  /* Incluir el padding y el borde en el ancho total */
}



@media screen and (max-width: 767px) {
  .auth-form {
    width: 100%;
    padding: 20px;
    
  }



  .form-container {
    border: 1px solid #f4f4f4;
    /* Borde del cuadro */

    box-shadow: 0 0 10px #0f959c;
    /* Sombra del cuadro */
    margin: 2px auto;
    /* Espaciado alrededor del cuadro y centrar en la página */

    background-color: #6da5c0;


    padding: 10px;
    /* Espaciado interno del cuadro */
    border-radius: 10px;
    /* Bordes redondeados del cuadro */

    max-width: 320px;
    /* Ancho máximo del cuadro */
   

    /* Centrar el cuadro en la página */
    width: 100%;
    /* Hacer que el cuadro ocupe el 100% del ancho disponible */
    box-sizing: border-box;
    /* Incluir el padding y el borde en el ancho total */
  }

}