ion-content {
  --keyboard-offset: 0 !important;
}




h1 {
  font-weight: bold;
  line-height: 25px;
  text-align: center;
}

h4 {
  line-height: 19px;
}


.card-container {
  text-align: center;
}

.icon {
  font-size: 100px;
}

.custom-input {
  --border-color: #e0e0e0;
  --border-radius: 15px;
  --border-style: solid;
  --border-width: 1px;
  margin: 20px 0;

  .custom-input:active {
    --border-color: green;
  }
}


.auth-form {
  width: 100%;
  padding: 25px;
}



.altaRFC{
  text-align: center;
}


.form-container {

  padding: 10px;
  /* Espaciado interno del cuadro */
  border-radius: 10px;
  /* Bordes redondeados del cuadro */

  max-width: 600px;
  /* Ancho máximo del cuadro */
  margin: auto;
  /* Centrar el cuadro en la página */
  width: 100%;
  /* Hacer que el cuadro ocupe el 100% del ancho disponible */
  box-sizing: border-box;
  /* Incluir el padding y el borde en el ancho total */
}

 ion-button.buttons-form{
  --border-radius: 30px;
  --cursor: pointer;


}

ion-item {
  --background: var(--ion-color-step-50, #ffffff);
  --border-color: var(--ion-color-step-500, rgb(207, 207, 207));
  --border-radius: 4px;
  --padding-start: 16px;
  --padding-end: 16px;
  min-height: 56px;
}
ion-select{
  --background: white;
}

.action-sheet-container.sc-ion-action-sheet-md{
  --background: white;
}

@media screen and (max-width: 767px) {
  .auth-form {
    width: 100%;
    padding: 10px;
    
  }



  .form-container {
    border: 3px solid #e0e0e0;    /* Borde del cuadro */

    box-shadow: 0 0 20px #ffc16a76;
    /* Sombra del cuadro */
    margin: 2px auto;
    /* Espaciado alrededor del cuadro y centrar en la página */

    background-color: #e0e0e0a5;


    padding: 10px;
    /* Espaciado interno del cuadro */
    border-radius: 10px;
    /* Bordes redondeados del cuadro */

    max-width: 320px;
    /* Ancho máximo del cuadro */
   

    /* Centrar el cuadro en la página */
    width: 100%;
    /* Hacer que el cuadro ocupe el 100% del ancho disponible */
    box-sizing: border-box;
    /* Incluir el padding y el borde en el ancho total */
  }


  .buttons-movil ion-button{
    --border-radius: 30px;
  }

}