<app-header isModal="true"> </app-header>

<ion-content>
  <div class="auth-form">
    <div class="form-container">
      <ion-row class="ion-align-items-center">
        <ion-col>
          <ion-label position="floating" class="ion-text-bold"
            >FOLIO :
          </ion-label>
          <ion-label position="floating" class="ion-text-bold"
            ><b>02000205300065</b></ion-label
          >
        </ion-col>
      </ion-row>

      <ion-row class="ion-align-items-center">
        <ion-col>
          <ion-label position="floating" class="ion-text-bold"
            >FECHA :
          </ion-label>
          <ion-label position="floating" class="ion-text-bold"
            ><b>07/07/2021</b></ion-label
          >
        </ion-col>
      </ion-row>

      <ion-row class="ion-align-items-center">
        <ion-col>
          <ion-label position="floating" class="">NOMBRE : </ion-label>
          <ion-label position="floating" class=""
            ><b> ENRIQUE AVILA </b></ion-label
          >
        </ion-col>
      </ion-row>

      <ion-row class="ion-align-items-center">
        <ion-col>
          <ion-label position="floating" class="">GARANTIA : </ion-label>
          <ion-label position="floating" class=""><b>PLACA TRASERA
        </b></ion-label>
        </ion-col>
      </ion-row>

      <ion-row class="ion-align-items-center">
        <ion-col>
          <ion-label position="floating" class="ion-text-bold"
            >ESTADO :
          </ion-label>
          <ion-label position="floating" class="ion-text-bold"
            ><b>DURANGO</b
          ></ion-label>
        </ion-col>
      </ion-row>

      <ion-row class="ion-align-items-center">
        <ion-col>
          <ion-label position="floating" class="ion-text-bold"
            >DETALLE :
          </ion-label>
          <ion-label position="floating" class="ion-text-bold"
            ><b></b
          ></ion-label>
        </ion-col>
      </ion-row>
      <h1 class="linea">
        <b
          >.........................................................................</b
        >
      </h1>

      <div class="subImp ion-text-end">
        <ion-row>
          <ion-col>
            <ion-label position="floating" class="ion-text-bold"
              >SUBTOTAL:
            </ion-label>
            <ion-label position="floating" class="ion-text-bold"
              ><b>$100.00</b></ion-label
            >
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-label position="floating" class="ion-text-bold"
              >DESCUENTO:
            </ion-label>
            <ion-label position="floating" class="ion-text-bold"
              ><b>$0.00</b></ion-label
            >
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-label position="floating" class="">IMPORTE: </ion-label>
            <ion-label position="floating" class=""><b>$100.00</b></ion-label>
          </ion-col>
        </ion-row>

        <h1 class="linea">
          <b
            >.........................................................................</b
          >
        </h1>

        <br />

        <ion-button expand="block" fill="solid" shape="round" color="success">
          ENVIAR RECIBO
        </ion-button>
        <br />
        <ion-button expand="block" fill="solid" shape="round" color="success">
          PAGAR
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
