<ion-item class="custom-input " lines="none" >
  <ion-icon  *ngIf="icon" slot="start" [name]="icon" color="success"></ion-icon>
<ion-input 
[type]="type" 
[autocomplete]='autocomplete'
[label]="label"
[formControl]="control"  
label-placement="floating"
class="custom"
[readonly]="readonly"
>
</ion-input>

<ion-button *ngIf="isPassword" (click)="showOrHidePassword()" slot="end" fill="clear" 
mode="ios"    shape="round">

  <ion-icon slot="icon-only" [name]="hide ? 'eye-outline': 'eye-off-outline'" color="success" class=""></ion-icon>
</ion-button>

</ion-item>