ion-button {
  text-transform: none;
}

ion-content {
  --keyboard-offset: 0 !important;
}

// safe padding for ios

ion-item.custom-input {
  --ion-item-background: rgb(
    255,
    255,
    255
  );
  
  /* Set the background color for the entire item */
  /*  --display: flex;
  --flex-wrap: wrap; */
 
  --padding-start: 0px;
  --padding-end: 0px;
  --inner-padding-top: 4px;
  --inner-padding-bottom: 4px;
  min-height: 10px;
}

ion-input.custom {
  --border: 1px solid #f4f4f4;
  --box-shadow: 0 0 10px #0f959c;
  --background: rgb(255, 255, 255);
  --border-bottom: 20%;
  font-size: 14px; /* Reduce el tamaño del texto del input */
  --padding-start: 10px; /* Ajusta el padding interior del input */
  --padding-end: 1px;
}

.custom-input {
  --border-color: rgb(224, 224, 224);
  --border-radius: 50px;
  --border-width: 1px;

  margin: 20px 0;
  transition: border-color 0.3s ease; /* Agregamos una transición para suavizar el cambio de color */

  ion-label {
    position: relative;
    bottom: 2px;
  }

  border-color: var(--border-color);

  &:valid,
  &:valid:focus {
    --border-color: #28a745; /* Cambiar el color del borde cuando el input es válido (success) */
  }
}

.validators {
  color: var(--ion-color-danger);
  font-size: 13px;
  text-align: center;
}

@media (min-width: 769px) {
  .auth-form {
    width: 100px;
  }
}

@media screen and (min-width: 612px) {
  ion-item.custom-input {
   

    --padding-start: 3px;
    --padding-end: 0px;
    --inner-padding-top: 4px;
    --inner-padding-bottom: 4px;
    min-height: 10px;
  }
  
}

/* @media screen and (min-width: 769px) {
    ion-item.custom-input {
      --flex-wrap: nowrap;
      --ion-item-background: #28a745;
    }
} */
