<app-header></app-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <div class="ion-text-center">
          <img
            class="ion-text-center"
            alt="200*200"
            height="230"
            width="230"
            src="assets/LerdoD2.png"
          />
        </div>
      </ion-col>

      <ion-col style="text-align: center">
        <h2>CÓDIGO QR :</h2>
        <img src="assets/Captura.PNG" alt="" width="250px" height="200px" />
        <br />

        <div class="box" data-aos-delay="100">
          <h3><b>VALIDACIÓN</b></h3>
          <u><p>CARTA DOMICILIO</p></u>
          <p style="color: green">
            El QR DE ESTA CARTA DOMICILIO ES: <br />
            <strong><h2>¡VALIDO!</h2></strong>
          </p>
          <img
            src="assets/apd_reducida.png"
            alt=""
            width="150px"
            height="80px"
          />
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<app-footer></app-footer>
