<app-header title="Recuperar Contraseña" backButton="/main/home"></app-header>

<ion-content>
  <div class="d-flex-center">
    <form
      [formGroup]="form"
      class="auth-form"
      (ngSubmit)="submit()"
      (keypress.enter)="submit()"
    >
      <app-logo></app-logo>

      <!--============= email ============-->

      <app-custom-input
        autocomplete="phone"
        icon="call-outline"
        [control]="form.controls.telefono"
        type="phone"
        label="Teléfono"
      ></app-custom-input>

      <div
        class="validators"
        *ngIf="form.controls.telefono.errors && form.controls.telefono.touched"
      >
        <div *ngIf="form.controls.telefono.errors?.['required']">
          El numero es requerido
        </div>
        <div *ngIf="form.controls.telefono.errors?.['required']">
          Ingrese un numero valido
        </div>
      </div>
      
     

      <ion-button
        expand="block"
       
        mode="ios"
        class="submit"
        type="submit"
        [disabled]="form.invalid"
        color="success"
      >
        Recuperar
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>

     
    </form>
  </div>



</ion-content>
<app-footer></app-footer>