<ion-content>
  <app-header shouldShowHorizontalMenu2="true" Salir="true"></app-header>

  <h1 class="ion-text-center"><b>Facturación Lerdo</b></h1>
  <br />
  <ion-searchbar
    placeholder="Buscar..."
    showCancelButton="always"
    cancelButtonIcon="search"
    class="searchbar-cancel-button"
    (ionCancel)="buscar()"
  ></ion-searchbar>

  <div class="table-scroll">
    <ion-grid class="table">
      <ion-row class="tableRow">
        <ion-col>Número</ion-col>
        <ion-col>Fecha</ion-col>
        <ion-col>Folio</ion-col>
        <ion-col>Nombre</ion-col>
        <ion-col>RFC</ion-col>
        <ion-col>Importe</ion-col>
        <ion-col>SR</ion-col>
        <ion-col></ion-col>
      </ion-row>
      <ion-row>
        <ion-col>5533</ion-col>
        <ion-col>23/02/2023</ion-col>
        <ion-col>sp1232456</ion-col>
        <ion-col>Jose Antonio Nino Calamaco</ion-col>
        <ion-col>NICA980410H70</ion-col>
        <ion-col>500.00</ion-col>
        <ion-col><ion-radio></ion-radio></ion-col>
        <ion-col>
          <ion-button
            fill="solid"
            shape="solid"
            color="success"
            class="button-table"
          >
            <ion-icon name="print-outline"></ion-icon>
          </ion-button>
          <!--  <ion-button
              expand="block"
              fill="solid"
              shape="round"
              color="danger"
            >
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button> -->
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>Item 1</ion-col>
        <ion-col>Item 2</ion-col>
        <ion-col>Item 3</ion-col>
        <ion-col>Item 4</ion-col>
        <ion-col>Item 5</ion-col>
        <ion-col>Item 6</ion-col>
        <ion-col><ion-radio></ion-radio></ion-col>
        <ion-col>
          <ion-button
            fill="solid"
            shape="solid"
            color="success"
            class="button-table"
          >
            <ion-icon name="print-outline"></ion-icon>
          </ion-button>
          <!--  <ion-button
                expand="block"
                fill="solid"
                shape="round"
                color="danger"
              >
                <ion-icon name="trash-outline"></ion-icon>
              </ion-button> -->
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>Item 1</ion-col>
        <ion-col>Item 2</ion-col>
        <ion-col>Item 3</ion-col>
        <ion-col>Item 4</ion-col>
        <ion-col>Item 5</ion-col>
        <ion-col>Item 6</ion-col>
        <ion-col><ion-radio></ion-radio></ion-col>
        <ion-col>
          <ion-button
            fill="solid"
            shape="solid"
            color="success"
            class="button-table"
          >
            <ion-icon name="print-outline"></ion-icon>
          </ion-button>
          <!--  <ion-button
                expand="block"
                fill="solid"
                shape="round"
                color="danger"
              >
                <ion-icon name="trash-outline"></ion-icon>
              </ion-button> -->
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>Item 1</ion-col>
        <ion-col>Item 2</ion-col>
        <ion-col>Item 3</ion-col>
        <ion-col>Item 4</ion-col>
        <ion-col>Item 5</ion-col>
        <ion-col>Item 6</ion-col>
        <ion-col><ion-radio></ion-radio></ion-col>
        <ion-col>
          <ion-button
            fill="solid"
            shape="solid"
            color="success"
            class="button-table"
          >
            <ion-icon name="print-outline"></ion-icon>
          </ion-button>
          <!-- <ion-button
                
                fill="solid"
                shape="solid"
                color="danger"
                class="button-table"
              >
                <ion-icon name="trash-outline"></ion-icon>
              </ion-button>  -->
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div>
    <ion-buttons class="buttonsFacturar">
      <ion-button fill="solid" shape="round" color="success" class="buttonFac">
        Facturar
      </ion-button>
      <ion-button fill="solid" shape="round" color="danger" class="buttonFac">
        Cancelar
      </ion-button>
    </ion-buttons>
  </div>
</ion-content>
