<ion-content>
  <app-header shouldShowHorizontalMenu2="true" Salir="true" MenuButton="true"></app-header>

  <h1 class="ion-text-center"><b>VER FACTURAS</b></h1>
  <br />
  <ion-item lines="none" class="searchBar">
    <ion-searchbar slot="start" placeholder="NÚMERO DE FACTURAS..." [(ngModel)]="textoBusqueda"
      (ionChange)="filtrarFacturas(textoBusqueda)" (keyup.enter)="filtrarFacturas(textoBusqueda)" debounce="500">
    </ion-searchbar>
    <ion-button slot="start" (click)="buscarFactura()" size="medium" color="secondary" shape="round">
      <ion-icon name="search"></ion-icon>
    </ion-button>
  </ion-item>

  <!-- <div>
    <ion-buttons class="paginationButtons">
      <ion-button fill="solid" shape="round" [disabled]="currentPage <= 1" (click)="changePage(currentPage - 1)">
        Anterior
      </ion-button>
      <ion-button fill="solid" shape="round" [disabled]="currentPage >= totalPages" (click)="changePage(currentPage + 1)">
        Siguiente
      </ion-button>
    </ion-buttons>
  </div> -->

  <div class="table-scroll">
    <ion-grid class="table">
      <ion-row class="tableRow">
        <ion-col>Número Factura</ion-col>
        <ion-col>Fecha</ion-col>
        <ion-col>Folio Fiscal</ion-col>
        <ion-col>Nombre</ion-col>
        <ion-col>RFC</ion-col>
        <ion-col>Importe</ion-col>
        <ion-col></ion-col>
      </ion-row>
      <ion-row *ngFor="let factura of displayedData">
        <ion-col>{{ factura.NumeroFactura || '-' }}</ion-col>
        <ion-col>{{ factura.FechaFactura || '-' }}</ion-col>
        <ion-col>{{ factura.FolioUUIDFactura || '-' }}</ion-col>
        <ion-col>{{ factura.NombreDeFactura || '-' }}</ion-col>
        <ion-col>{{ factura.RFCFacturar || '-' }}</ion-col>
        <ion-col>${{ factura.ImporteDeLaFactura || '-' }}</ion-col>
        <!-- <ion-col>
          <ion-radio-group
            [allowEmptySelection]="true"
            (ionChange)="toggleSeleccion(factura)"
          >
            <ion-radio
              [value]="factura.numero"
              [checked]="seleccionado === factura.numero"
              color="success"
            >
            </ion-radio> </ion-radio-group
        ></ion-col> -->
        <ion-col>
          <ion-button fill="solid" shape="solid" color="secondary" class="button-table" (click)="enviarFactura(factura)">
            <ion-icon name="send-outline"></ion-icon>
          </ion-button>

          <ion-button fill="solid" shape="solid" color="success" class="button-table"
            (click)="descargarFactura(factura)">
            <ion-icon name="download-outline"></ion-icon>
          </ion-button>
          <!--  <ion-button
            fill="solid"
            shape="solid"
            color="danger"
            class="button-table"
          >
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button> -->
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-row class="pagination-controls">
    <ion-col size="auto" class="ion-align-self-center">
      <ion-button class="pagination-button" (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1"
                  shape="round" color="success">
        <ion-icon slot="icon-only" name="chevron-back-outline" shape="round"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col class="pagination-page-info">
      PÁGINA {{currentPage}} DE {{totalPages}}
    </ion-col>
    <ion-col size="auto" class="ion-align-self-center">
      <ion-button class="pagination-button" (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages"
                  shape="round" color="success">
        <ion-icon slot="end" slot="icon-only" name="chevron-forward-outline">Siguiente</ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

  <div>
    <ion-buttons class="buttonsFacturar">
      <!-- <ion-button
        fill="solid"
        shape="round"
        color="danger"
        class="buttonFac"
        size="medium"
      >
        Cancelar
      </ion-button> -->
      <ion-button fill="solid" shape="round" color="primary" class="buttonFac" (click)="mostrarNuevaFactura()">
        NUEVA FACTURA
      </ion-button>
    </ion-buttons>
  </div>
  <br />

  <!--  <div class="card">
    <ion-card *ngIf="facturaSeleccionada">
      <ion-card-header>
        <ion-card-title class="ion-text-center"
          >Detalles de Factura Seleccionada</ion-card-title
        >
      </ion-card-header>
      <ion-card-content>
        <ion-list lines="full">
          <ion-item>
            <ion-label>Número:</ion-label>
            <ion-note slot="end">{{ facturaSeleccionada.numero }}</ion-note>
          </ion-item>
          <ion-item>
            <ion-label>Fecha:</ion-label>
            <ion-note slot="end">{{ facturaSeleccionada.fecha }}</ion-note>
          </ion-item>
          <ion-item>
            <ion-label>Folio:</ion-label>
            <ion-note slot="end">{{ facturaSeleccionada.folio }}</ion-note>
          </ion-item>
          <ion-item>
            <ion-label>Nombre:</ion-label>
            <ion-note slot="end">{{ facturaSeleccionada.nombre }}</ion-note>
          </ion-item>
          <ion-item>
            <ion-label>RFC:</ion-label>
            <ion-note slot="end">{{ facturaSeleccionada.rfc }}</ion-note>
          </ion-item>
          <ion-item>
            <ion-label>Importe:</ion-label>
            <ion-note slot="end">${{ facturaSeleccionada.importe }}</ion-note>
          </ion-item>
          <ion-item>
            <ion-label>SR:</ion-label>
            <ion-note slot="end"
              >{{ facturaSeleccionada.sr ? 'Sí' : 'No' }}</ion-note
            >
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div> -->

  <!--  <div *ngIf="facturaEnProgreso" >
    <form [formGroup]="form" *ngIf="mostrarFormulario">
      <ion-card>
        <ion-card-header>
          <ion-card-title class="ion-text-center">Nueva factura</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-list class="list-factura">
            <ion-item>
              <ion-label position="stacked">Número</ion-label>
              <ion-input type="text" formControlName="numero"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Fecha</ion-label>
              <ion-input type="date" formControlName="fecha"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Folio</ion-label>
              <ion-input type="text" formControlName="folio"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Nombre</ion-label>
              <ion-input type="text" formControlName="folio"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">RFC</ion-label>
              <ion-input
                [control]="form.controls.rfc"
                type="text"
                formControlName="rfc"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Importe</ion-label>
              <ion-input
                [control]="form.controls.importe"
                type="number"
                formControlName="importe"
              ></ion-input>
            </ion-item>
          </ion-list>
        </ion-card-content>
        <ion-buttons class="buttonsFacturarGenerar">
          <ion-button
          (click)="cancelarFormulario()"
            fill="solid"
            shape="round"
            color="danger"
            class="buttonFac"
            size="medium"
          >
            Cancelar
          </ion-button>

          <ion-button
            fill="solid"
            shape="round"
            color="success"
            class="buttonFac"
            size="medium"
            (click)="generarFactura()"
          >
            Generar Factura
          </ion-button>
        </ion-buttons>
      </ion-card>
    </form>
  </div>
 -->
  <br />
</ion-content>