<app-header
  Salir="true"
  title=""
  shouldShowHorizontalMenu2="true"
  MenuButton="true"
>
</app-header>
<ion-content>
  <form [formGroup]="form"  class="auth-form">
    <app-logo User="true"></app-logo>
    <h1>
      <b>Datos del Usuario</b>
    </h1>

    <div class="form-container">
      <app-custom-input
      
        autocomplete="name"
        icon="person-outline"
        [control]="form.controls.usuario"
        type="text"
        label="Nombre usuario "
        maxlength="14"
      ></app-custom-input>

      <div
        class="validators"
        *ngIf="form.controls.usuario.errors && form.controls.usuario"
      >
        <div *ngIf="form.controls.usuario.errors?.['required']">
          El nombre es requerido
        </div>
        <div *ngIf="form.controls.usuario.errors?.['minLenght']">
          El nombre debe tener al menos 4 caracteres
        </div>
      </div>

      <app-custom-input
        autocomplete="email"
        icon="mail-outline"
        [control]="form.controls.correo"
        type="email"
        label="Correo: "
        [readonly]="true"
        (input)="ConvertirenMinusculas(form.controls.correo)"
      ></app-custom-input>

      <div
        class="validators"
        *ngIf="form.controls.correo.errors && form.controls.correo.touched"
      >
        <div *ngIf="form.controls.correo.errors?.['required']">
          El correo es requerido
        </div>
        <div *ngIf="form.controls.correo.errors?.['email']">
          Ingrese un correo valido
        </div>
      </div>

      <app-custom-input
        autocomplete="phone"
        icon="call-outline"
        [control]="form.controls.telefono"
        type="phone"
        label="Teléfono: "
        (input)="formatoCelularContacto(form.controls.telefono)"
      ></app-custom-input>

      <div
        class="validators"
        *ngIf="form.controls.telefono.errors && form.controls.telefono.touched"
      >
        <div *ngIf="form.controls.telefono.errors?.['required']">
          El número es requerido
        </div>
      </div>

     <!--  <app-custom-input
        icon="lock-closed-outline"
        [control]="form.controls.contrasena"
        type="password"
        label="Contraseña: "
      ></app-custom-input>

      <div
        class="validators"
        *ngIf="form.controls.contrasena.errors && form.controls.contrasena.touched"
      >
        <div *ngIf="form.controls.contrasena.errors?.['required']">
          La contraseña es requerida
        </div>
      </div> -->

      

      <ion-grid fixed>
        <ion-row>
          <ion-col size="12" size-md="6">
            <ion-button
              expand="block"
              mode="ios"
              class="submit buttons-form"
              type="submit"
              (click)="actualizarDatosUsuario()"
              color="success"
              shape="round"
              
            >
              Guardar
              <ion-icon slot="end" name="person-add-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="12" size-md="6">
            <ion-button
              expand="block"
              mode="ios"
              class="submit buttons-form"
              type="submit"
              shape="round"
              color="success"
            
            >
              Cancelar
              <ion-icon
                slot="end"
                name="close-circle-outline"
              ></ion-icon> </ion-button
          ></ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </form>
</ion-content>
