

.auth-form {
    width: 100%;
    padding: 25px;
    
h1 {
    font-weight: bold;
    line-height: 25px;
    text-align: center;
    margin-top: 15px;
    color: #fff;
  }
  }

  .form-container {

    padding: 10px;
    /* Espaciado interno del cuadro */
    border-radius: 10px;
    /* Bordes redondeados del cuadro */
  
    max-width: 600px;
    /* Ancho máximo del cuadro */
    margin: auto;
    /* Centrar el cuadro en la página */
    width: 100%;
    /* Hacer que el cuadro ocupe el 100% del ancho disponible */
    box-sizing: border-box;
    /* Incluir el padding y el borde en el ancho total */
  }

  .safe-p-bottom{
    padding-bottom: constant(safe-area-inset-bottom); // for ios 13+
    padding-bottom: env(safe-area-inset-bottom); // for previous ios versions
}

.submit {
    margin-top: 10px;
}

.empty {
    text-align: center;
    padding: 60px;
    opacity: 30%;

    ion-icon {
        font-size: 100px;
    }
}

.d-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


.custom-input {
    --border-color: #e0e0e0;
    --border-radius: 15px;
    --border-style: solid;
    --border-width: 1px;
    margin: 20px 0;

    ion-label {
        position: relative;
        bottom: 90px;
    }

    .eye-icon {
        position: relative;
        top: 13px;
    }
}

.validators {
    color: var(--ion-color-danger);
    font-size: 13px;
    text-align: center;
}


@media screen and (max-width: 767px) {
    .auth-form {
      width: 100%;
      padding: 10px;
      
    }
  
  
  
    .form-container {
      border: 3px solid #e0e0e0;    /* Borde del cuadro */
  
      box-shadow: 0 0 20px #ffc16a76;

      margin-left: -4px;
      /* Sombra del cuadro */
      margin: 2px auto;
      /* Espaciado alrededor del cuadro y centrar en la página */
  
      background-color: #e0e0e0a5;
  
  
      padding: 4px;
      border-radius: 10px;
      max-width: 100%;
    width: 100%;
      /* Hacer que el cuadro ocupe el 100% del ancho disponible */
      box-sizing: border-box;
      /* Incluir el padding y el borde en el ancho total */
    }
  
  
    .buttons-movil ion-button{
      --border-radius: 30px;
    }
  
  }
  