<app-header class="ion-no-border" MenuButton="MenuButton" title="Home">

</app-header>


<ion-content>

  <div class="ion-padding-horizontal">
    <h1>Bienvenido/a</h1>
    <h4>Pensando en ti</h4>
  </div>


  <!--============= Posts =============-->
  <ion-grid *ngIf="posts.length">
    <ion-row>
      <ion-col (click)="showPostDetail(p)" [ngClass]="{'col-down': i % 2 !== 0}" size-lg="3" size-md="3" size="6" *ngFor="let p of posts; index as i">
        <ion-avatar>
          <img [src]="p.images[0]" />
        </ion-avatar>

      </ion-col>

    </ion-row>
  </ion-grid>

    <!--============= loading =============-->
    <ion-grid *ngIf="loading">
      <ion-row>
        <ion-col [ngClass]="{'col-down': i % 2 !== 0}" size-lg="3" size-md="3" size="6" *ngFor="let p of [1,1,1,1,1]; index as i">
          <ion-avatar>
            <ion-skeleton-text animated style="width: 100%; height: 100%;"></ion-skeleton-text>
          </ion-avatar>
  
        </ion-col>
  
      </ion-row>
    </ion-grid>

    <div class="empty" *ngIf="!posts.length && !loading">
      <ion-icon slot="start" name="images-outline"></ion-icon>
      <h4>No hay Publicaciones disponibles</h4>
    </div>


</ion-content>

<app-footer></app-footer>

<!-- <ion-app>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar color="success">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">
      <ion-list>
        <ion-menu-toggle>
          <ion-item>
            <ion-icon slot="start" name="home-outline"></ion-icon>
            <ion-label>Inicio</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon slot="start" name="folder-outline"></ion-icon>
            <ion-label>Servicios</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon slot="start" name="cash-outline"></ion-icon>
            <ion-label>Facturacion</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>

  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar color="success">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Home</ion-title>

        

        <ion-icon
          name="ellipsis-vertical-outline"
          slot="end"
          id="present-alert"
          class="icon-log-out"
        ></ion-icon>
        <ion-alert
          trigger="present-alert"
          header="Cerrar Sesion"
          [buttons]="alertButtons"
          (didDismiss)="setResult($event)"
        ></ion-alert>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding"> </ion-content>
    <app-footer></app-footer>
  </div>
  
</ion-app>

 -->