/* .main-container {
  display: flex;
  flex-direction: column;
}
 */
.container {
  width: 100%; /* Ajusta el ancho del div al 100% del contenedor padre */
  height: auto; /* Ajusta la altura automáticamente */
  position: relative;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  position: relative;
}

.slide-text {
  position: absolute;
  bottom: 40%;
  left: 2%;
  color: white;
}

.slide-button {
  position: absolute;
  bottom: 23%;
  left: 50px;
  color: white;
  padding: 0px;
  height: 6%;
  width: 15%;
  font-size: 26px;
}

ion-button.slide-button {
  --border-color: #f2f4f7;
  --background-hover: white;
  border-radius: 42px;
}

ion-button.slide-button:hover {
  background-color: #ffffff;
  color: #333333;
  box-shadow: 0 0 25px white;
  transition: all 0.4s;
}

.full-width-image {
  width: 100%;
  height: 100vh;
  filter: brightness(0.8);
}

.slide-text h1 {
  font-weight: bold;
  font-size: 8rem;
  font-family: "Open Sans", sans-serif;
  filter: drop-shadow(12px 10px 4px black);
  white-space: pre-line; /* Esto asegura que los saltos de línea se representen */
}

ul li {
  list-style-type: none;
  margin-left: 0;
  padding-left: 1em;
}

ul li::before {
  content: "→";
  padding-right: 10px;
  color: white;
}

.slide-subtitles {
  position: absolute;
  bottom: 10%;
  left: 0%;
  font-weight: bold;
  font-size: 5rem;
  font-family: "Open Sans", sans-serif;
  white-space: pre-line;
  filter: drop-shadow(10px 8px 3px black);

  a {
    color: white;
    text-decoration: none;
    transition: all 0.3s;
  }
}
.slide-subtitles a:hover {
  color: var(--ion-color-medium); /* Color al pasar el mouse por encima del enlace */
  font-size: 6rem;
}

.slide-img {
  font-size: 5rem;
}

.ImageSlide {
  position: absolute;
  bottom: 11%;
  left: 34%;

}

.second-text {
  bottom: 85%;
  left: 3%;
}

.second-text h1 {
  font-size: 6rem;
  font-style: italic;
}

.third-text {

  bottom: 91%;
  left: 2%;
}

.third-text h1 {
  font-style: italic;
}
.mobile-only {
  display: block;
}
.desktop-only {
  display: none;
}

.first-button {
}

ion-button.second-button {
  position: absolute;
  --border-color: transparent;
  bottom: 55%;
  left: 64%;
  color: white;
  padding: 0px;
  width: 20%;
  height: 13%;
}

ion-button.third-button {
  position: absolute;
  --border-color: transparent;
  bottom: 35%;
  left: 64%;
  color: white;
  padding: 0px;
  width: 20%;
  height: 13%;
}

.button-image {
  height: 107px;
  width: auto;
  margin-right: 0px;
  vertical-align: middle;
  transition: all 0.3s;
}

.button-image:hover {
  height: 118px;
  width: 330px;
}

@media screen and (max-width: 767px) {
  .main-container {
    flex-direction: column-reverse;
  }

  .container {
    width: 100%;
  }

  .swiper-container {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    /* Cambios en el estilo de las diapositivas para móviles */
  }

  .full-width-image {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }

  .slide-text {
    bottom: 55%;
    left: 3%;
    white-space: pre-line;
  }

  .slide-text h1 {
    font-size: 6.1rem;
  }
  .mobile-only {
    display: none;
  }
  .desktop-only {
    display: block;
  }

  ion-button.slide-button {
    border-radius: 42px;
  }

  .slide-button {
    position: absolute;
    bottom: 26%;
    left: 33%;
    width: 50%;
    height: 5%;
    font-size: 16px;
  }

  .first-button {
    bottom: 37%;
    left: 25%;
    width: 50%;
    height: 5%;
  }

  .second-text {
    bottom: 62%;
    left: 6%;
  }

  .second-text h1 {
    font-size: 2.3rem;
    white-space: pre-line;
  }

  .slide-subtitles {
    position: absolute;
    bottom: 25%;
    left: -18%;
    right: -14%;
    font-weight: bold;
    font-size: 2.5rem;
    font-family: "Open Sans", sans-serif;
    white-space: pre-line;
    filter: drop-shadow(10px 8px 3px black);

    a {
      color: white;
      text-decoration: none;
      transition: all 0.3s;
    }
  }

  .slide-img {
    font-size: 5rem;
  }

  .ImageSlide {
    display: none;
  }

  .third-text {
    bottom: 49%;
    left: 12%;
  }

  .third-text h1 {
    /* Tus estilos personalizados para el texto de la tercera diapositiva */
    color: #fff; /* Ejemplo: cambiar el color del texto */
    font-style: italic; /* Ejemplo: cambiar a cursiva */
    /* Otros estilos que necesites */
    font-size: 2.8rem;
  }

  ion-button.second-button {
    position: absolute;
    --border-color: transparent;
    bottom: 55%;
    left: 18%;
    color: white;
    padding: 0px;
    width: 69%;
    height: 13%;
  }

  ion-button.third-button {
    position: absolute;
    --border-color: transparent;
    bottom: 35%;
    left: 18%;
    color: white;
    padding: 0px;
    width: 65%;
    height: 13%;
  }

  .four-button {
    position: absolute;
    bottom: 44%;
    left: 11%;
    color: white;
    padding: 0px;
    width: 24%;
  }

  .third-text h1 {
    bottom: 59%;
    left: 12%;
    white-space: pre-line;
  }

  .four-text {
    bottom: 53%;
    left: 6%;
  }

  .four-text h1 {
    color: #fff;
    font-size: 3.2rem;
  }

  .button-image {
    height: 107px;
    width: auto;
    margin-right: 0px;
    vertical-align: middle;
    transition: all 0.3s;
  }
}

/* @media screen and (max-width: 612px){
  .slide-subtitles{
  font-size: 2.1rem;
  bottom: 10%;
  left: 0%;
  }
  

 
  .second-text {
    bottom: 68%;
    left: 2%;
  }

  .second-text  h1{
    font-size: 2rem;
    white-space: pre-line;
  }
  .slide-text {

    left: 1.5%;
    white-space: pre-line;
  }
 */
 


/* ================ pensando en ti =============== */

h1 {
  font-weight: bold;
  line-height: 10px;
  margin-top: 40px;
}
.pensando-en-ti {
  text-align: center;
}

.pensando-card {
  text-align: center;
}

.pensando-card ion-card {
  height: 100%;
  /* Hace que todas las tarjetas tengan la misma altura */
  border-radius: 15px;
  /* Agrega esquinas redondeadas a las tarjetas */
  overflow: hidden;
  margin: 1px;
  /* Ajusta el valor del margen según tus preferencias */
  transition: background-color 0.3s;
  /* Agrega una transición suave al color de fondo */
  color: #000;
  --background: linear-gradient(0deg, var(--ion-color-medium-tint), var(--ion-color-medium));
}

.pensando-card ion-card-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  /* Ajusta la altura del contenido de la tarjeta */
  text-align: justify;
  /* Alinea el texto justificado */
}

.pensando-card ion-card-title {
  text-align: center;
}

.pensando-card ion-card:hover {
  background-color: #6da5c0;
  /* Cambia el color de fondo al pasar el cursor */
}

/* Ajustes para pantallas más pequeñas (modo móvil) */
@media screen and (max-width: 767px) {
  .pensando-card ion-card {
    margin-bottom: 10px;
    /* Espacio entre las tarjetas en modo móvil */
    margin-right: 5px;
    /* Elimina el margen derecho en modo móvil */
  }
}

/* ============= Posts ============= */

ion-avatar {
  --border-radius: 15px;
  width: 100%;
  height: 230px;
  box-shadow: 0 0 50px var(--ion-color-medium-tint);
}

.imagen-hover:hover {
  transform: scale(
    1.1
  ); /* Cambia el tamaño al 110% en el hover, ajusta según sea necesario */
  transition: transform 0.3s ease; /* Agrega una transición suave */
}

/* Agrega estilos adicionales según tus preferencias */
.imagen-hover:hover {
  border: 1px solid #f4f4f4;
  border-radius: 15px;
  box-shadow: 0 0 10px #000000;
  background-color: #f4f4f4;
}

.titulo-hover {
  display: none;
}

.imagen-hover:hover .titulo-hover {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  color: #ffffff;
}

ion-grid {
  padding-top: 30px;
}

.col-down {
  margin-top: 30px;
  padding: 0 10px;
}

.ion-padding-horizontal {
  display: grid;
  place-items: center;
  text-align: center;
  /* Para centrar el texto dentro de los elementos h1 y h3 */
  height: 50vh;
  /* Ajusta esto según tus necesidades, para centrar verticalmente */
}

.conoce-mun {
  display: grid;
  place-items: center;
  text-align: center;
  /* Para centrar el texto dentro de los elementos h1 y h3 */
  height: 10vh;
  /* Ajusta esto según tus necesidades, para centrar verticalmente */
}

.conoce-mun-container {
  border-radius: 20px; /* Bordes redondeados si lo deseas */
}
.container-background {
  background-color: var(--ion-color-medium-tint); /* Color de fondo gris */
  padding: 25px; /* Ajusta el espaciado interno según sea necesario */
  border-radius: 25px; /* Bordes redondeados si lo deseas */
  margin: 15px; /* Agrega margen alrededor del contenedor */
  box-shadow: 0 0 10px var(--ion-color-medium);
  border: 1px solid #f4f4f4;
}

/* <=================Tramites=================> */

ion-card {
  --background: linear-gradient(0deg, var(--ion-color-medium-tint), var(--ion-color-medium));
  --color: #ffffff;
}

ion-card-title {
  color: #ffffff;
}

.tramites-card ion-card-subtitle {
  color: #ffffff;
}

.tramites-card ion-icon {
  color: #ffffff;
}

.tramites-card ion-card-content {
  color: #ffffff;
}

.tramites-card {
  place-items: center;
  text-align: center;
}

.tramites-card ion-card {
  border-radius: 15px;
  overflow: hidden;
}

.tramites-card ion-card:hover {
  background-color: var(--ion-color-medium);
  transition: background-color 0.3s ease;
  cursor: pointer; /* Cambia el cursor al pasar el cursor sobre la tarjeta */
  --color: #000;
}

.card-container {
  text-align: center;
}

/* <================= Contactos =================> */

.contacto-section {
  place-items: center;
  text-align: center;
  /* Para centrar el texto dentro de los elementos h1 y h3 */
}

.custom-divider {
  /* Color de fondo de la línea de separación */
  height: 1px;
  /* Altura de la línea de separación */
  margin: 0 16px;
  /* Márgenes para controlar la longitud de la línea */
}

.contacto-container {
  display: flex;
  justify-content: space-around;
  max-width: 800px;
  /* Ajusta el ancho máximo según sea necesario */
  margin: 20px auto;
}

.contacto-section-left {
  text-align: center;
  margin-left: -10%; /* Ajusta el margen izquierdo según sea necesario */
}

.contacto-section-right {
  margin-right: -10%; /* Ajusta el margen izquierdo según sea necesario */
}

.contacto-section-left,
.contacto-section-right {
  width: 46%;
  /* Ajusta el ancho según sea necesario */
}

.icon {
  font-size: 100px;
}

.auth-form {
  width: 100%;
  text-align: center;
  padding: 20px;
}

.item-container {
  text-align: center; /* Centra el contenido dentro de cada item-container */
  padding: 20px; /* Ajusta el relleno según tus necesidades */
  margin: 20px; /* Ajusta el margen entre los elementos según tus necesidades */
  border-radius: 30px;
  background-color: #fff;
}

.item-container ion-icon {
  font-size: 22px;
}

.form-container-dudas {
  border: 3px solid #e0e0e0; /* Borde del cuadro */
  /* Borde del cuadro */
  padding: 30px;
  /* Ajusta el espaciado interno del cuadro según sea necesario */
  border-radius: 10px;
  /* Bordes redondeados del cuadro */
  box-shadow: 0 0 50px var(--ion-color-medium);
  /* Sombra del cuadro */
  max-width: 400px;
  /* Ajusta el ancho máximo del cuadro según sea necesario */
  margin: 20px auto;
  /* Espaciado alrededor del cuadro y centrar en la página */
  box-sizing: border-box;
  /* Incluir el padding y el borde en el ancho total */
  background-color: var(--ion-color-medium-tint);
}

.form-container-contacto {
  border: 3px solid #e0e0e0; /* Borde del cuadro */
  /* Borde del cuadro */
  padding: 20px;
  /* Ajusta el espaciado interno del cuadro según sea necesario */
  border-radius: 10px;
  /* Bordes redondeados del cuadro */
  box-shadow: 0 0 50px var(--ion-color-medium);
  /* Sombra del cuadro */
  max-width: 400px;
  /* Ajusta el ancho máximo del cuadro según sea necesario */
  margin: 20px auto;
  /* Espaciado alrededor del cuadro y centrar en la página */
  box-sizing: border-box;
  /* Incluir el padding y el borde en el ancho total */
  background-color: var(--ion-color-medium-tint);
}

.form-control {
  background: white;
  border-radius: 50px;
}

ion-item.custom-input {
  --ion-item-background: white; /* Set the background color for the entire item */
}

.custom-input {
  --border-color: rgb(224, 224, 224);
  --border-radius: 50px;
  --border-width: 1px;

  margin: 20px 0;
  transition: border-color 0.3s ease; /* Agregamos una transición para suavizar el cambio de color */

  ion-label {
    position: relative;
    bottom: 2px;
  }

  &:valid,
  &:valid:focus {
    --border-color: var(--ion-color-medium); /* Cambiar el color del borde cuando el input es válido (success) */
  }
}

.button-contacto {
  width: var(--button-width);
  --border-radius: 25px;
  margin-left: 85px;
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: block;
  transition: opacity 0.5s ease;
  z-index: 1000; /* Asegúrate de que el botón está sobre otros elementos */
}

ion-content {
  --keyboard-offset: 0 !important;
}

@media screen and (max-width: 767px) {
  .hide-on-mobile {
    display: none;
  }

  .hide-on-desktop {
    display: none;
  }
  .swiper-container {
    border: none;
  }

  .contacto-container {
    flex-direction: column;
    /* Apila los elementos uno encima del otro */
    align-items: center;
    /* Centra los elementos en el eje horizontal */
  }

  .contacto-section-left,
  .contacto-section-right {
    width: 90%;
    /* Ocupa todo el ancho disponible en pantallas más pequeñas */
  }

  .contacto-section-right {
    margin-right: 1%; /* Ajusta el margen derecho según sea necesario */
  }

  .contacto-section-left {
    margin-left: 1%; /* Ajusta el margen izquierdo según sea necesario */
  }

  .form-container-contacto {
    margin: 20px;
    /* Espaciado alrededor del cuadro y centrar en la página */
  }

  .form-container-dudas {
    margin: 20px;
    /* Espaciado alrededor del cuadro y centrar en la página */
  }

  ion-avatar {
    --border-radius: 15px;
    width: 100%;
    height: 220px;
  }

  .swiper-container {
    border-radius: 1%;
  }

  .item-container ion-icon {
    font-size: 27px;
  }

  .item-container h4,
  p {
    font-size: 20px;
  }

  .button-contacto {
    width: var(--button-width);
    --border-radius: 25px;
    margin-left: 60px;
  }
}

@media screen and (max-width: 767px) {
  .button-contacto {
margin-left: 30px;
  }
}



@media (prefers-color-scheme: dark) {
  .item-container h4 {
    color: white; /* Cambiar el color de h1 en modo oscuro a blanco */
  }
}
