.auth-form {
  width: 100%;
  padding: 15px;
  margin-top: 100px;
}
.ion-text-center {
  width: 92%;
  height: 53px;
  font-size: 25px;
}

ion-card {
  --background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 41em;
  height: 21em;
  left: 26%;
  right: auto;
  margin-top: 0%;
  max-width: 90em;
  max-height: 70em;
}

ion-card-header {
  --background: #fff;
  background-color: var(--ion-color-success); //#d3d3d3; /* Fondo ligeramente diferente para el encabezado */
  border-bottom: 2px solid #e0e0e0; /* Línea divisoria sutil */
  align-items: center;
  font-size: 1.5em;
}

ion-card-title {
  color: #333; /* Color más oscuro para el título */
  --background: #fff;
  font-weight: bold;
}

.ion-align-items-center {
  align-items: center !important;
  width: 80%;
  margin-left: 10%;
}

.receipt-card {
  max-width: 500px;
  margin: auto;
  background-color: white;
  color: white;
}

.receipt-title {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}

ion-note.total {
  font-weight: bold;
  color: var(--ion-color-medium);
}

.thank-you {
  text-align: center;
  font-style: italic;
}

h1 {
  color: #5e5e5e;
  margin-top: 0%;
  font-size: 1.7rem;
  text-align: center;
}

h3 {
  font-size: 1.5rem;
  padding-left: 90px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 0px;
}

.form-container {
  align-items: center;
  justify-content: center;
  padding: 68px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.463);
  max-width: 643px;
  height: 385px;
  margin: 0px auto;
  box-sizing: border-box;
  background-color: #e0e0e0a5;
}

.form-container-folio {
  align-items: center;
  justify-content: center;
  border: 1px solid #fff7ec;
  padding: 40px;
  border-radius: 50px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.463);
  max-width: 940px;
  min-height: 460px;
  margin: 10px auto;
  box-sizing: border-box;
  background-color: #e0e0e0a5;
}

.cantidad-container {
  width: 100%;
  display: flex;
  text-align: end;
}

.label-container {
  width: 85%;
}

.resultado {
  width: 15%;
}

.form-container-folio-catastro {
  align-items: center;
  justify-content: center;
  border: 1px solid #fff7ec;
  padding: 68px;
  border-radius: 50px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.463);
  max-width: 940px;
  min-height: 400px;
  margin: 125px auto;
  box-sizing: border-box;
  background-color: #e0e0e0a5;
}

.form-container-pago {
  align-items: center;
  justify-content: center;
  border: 2px solid #fff7ec;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.463);
  max-width: 900px;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #e0e0e0a5;
}

.mi-iframe {
  height: 480px;
  width: 100%;
  border-radius: 5px;
  padding-right: 0px;
  padding-left: 0px;
  margin: 7px auto;
}

.bold-label {
  color: black;
  font-weight: bold;
}

.custom-row {
  border-bottom: 3px dotted black;
}

/* Asegúrate de que este estilo solo se aplique donde es relevante */
.custom-row[ngIf="detalle!=null"] {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.label-title {
  color: var(--ion-apd-grendark);
  font-weight: bold;
}

.label-content {
  color: var(--ion-apd-grendark);
}

ion-button.buttons-form {
  border-radius: 35px;
  --cursor: pointer;
  --padding-top: 0;
  --padding-bottom: 0;
  --padding-start: 0;
  --padding-end: 0;
  margin-left: 25%;
  font-size: 1em;
  width: 50%;
  transition: transform 0.3s, box-shadow 0.3s; /* Suaviza la transición del efecto hover */
}

ion-button.buttons-form:hover {
  transform: translateY(-2px); /* Eleva ligeramente el botón */
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2); /* Añade sombra para efecto de relieve */
}

@media screen and (max-width: 767px) {
  ion-card {
    width: 100%;
    height: auto;
    left: -2.5%;
    margin-top: 0%;
    max-width: 100%;
    max-height: 100%;
  }

  ion-card-header {
    --background: #fff;
    background-color: #d3d3d3; /* Fondo ligeramente diferente para el encabezado */
    border-bottom: 2px solid #e0e0e0; /* Línea divisoria sutil */
    align-items: center;
    font-size: 1.2em;
    color: #ffffff;
  }

  ion-card-title {
    color:#FFFFFF; //#333; /* Color más oscuro para el título */
    --background: #fff;
    font-weight: bold;
  }

  .ion-align-items-center {
    align-items: center !important;
    width: 95%;
    margin-left: 2%;
  }

  .auth-form {
    width: 100%;
    text-align: center;
    padding: 5px;
  }

  .form-container {
    align-items: center; /* Alinear contenido al centro verticalmente */
    justify-content: center;
    max-width: 500px;
    border-radius: 15px;
    box-shadow: 0 0 10px #ffc16a76;
    border: 1px solid #fff7ec;
    border-top: 5px;
    padding: 24px;
  }

  .form-container-folio-catastro {
    border: 1px solid #fff7ec;
    padding: 6px;
    border-radius: 13px;
    max-width: 375px;
    min-height: 300px;
    margin: 60px auto;
  }

  .form-container-folio {
    padding: 10px;
    border-radius: 30px;
    max-width: 370px;
  }

  .ion-text-center {
    width: 99%;
    height: 52px;
    font-size: 14px;
  }

  .cantidad-container {
    width: 100%;
    display: flex;
    text-align: end;
  }

  .label-container {
    width: 68%;
  }

  .resultado {
    width: 32%;
  }

  h3 {
    font-size: 1rem;
    padding-left: 20px;
  }

  ion-menu {
    display: block;
  }
}
