/* .auth-form {
  width: 100%;
  padding: 20px;

}

h1{
  color: #5e5e5e;
}
 */

.form-container {
 
  align-items: center;
  justify-content: center;

  border: 2px solid #fff7ec;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 50px #ffc16a76;
  max-width: 500px;
  margin: 110px auto;
  box-sizing: border-box;
  background-color: #e0e0e0a5;

}


@media screen and (max-width: 767px) {
  .auth-form {
    width: 100%;
 
    padding: 20px;
  }

  .form-container {
    max-width: 500px;
    border-radius: 15px;
    box-shadow: 0 0 20px #ffc16a76;
    border: 2px solid #fff7ec;

  }
}
