<app-header Salir="true" title="" shouldShowHorizontalMenu2="true">
</app-header>




<!-- ============================================= Consultar folio de pago o clave catastral   ============================================= -->

<ion-content class="ion-justify-content-center content-principal">
  <ion-row class="ion-justify-content-center" style="width: 100%">
    <ion-col size-md="8" size-lg="8" size-sm="8">
      <div class="auth-form" *ngIf="isOpenfolio">
        <div class="form-container">
          <h1 class="ion-justify-content-center">
            CONSULTAR FOLIO DE PAGO O CLAVE CATASTRAL
          </h1>
          <ion-row class="ion-align-items-center">
            <ion-col>
              <ion-input
                label="Folio / Clave Catastral"
                label-placement="floating"
                style="color: gray"
                fill="solid"
                color="success"
                type="text"
                [(ngModel)]="folio"
                required
                [disabled]="searchv==true"
                (ngModelChange)="handleModelChange($event)"
                (ionFocus)="clearInput()"
                maxlength="14"
              ></ion-input>
            </ion-col>
          </ion-row>
          <br />
          <ion-button
            *ngIf="searchv==false"
            class="ion-text-center"
            expand="block"
            fill="solid"
            shape="round"
            color="success"
            (click)="search()"
            ><strong>Buscar</strong></ion-button
          >
          <ion-text color="primary"></ion-text>
        </div>
      </div>

      <!-- ============================================= Consultar folio de pago ============================================================ -->

      <div class="auth-form" *ngIf="isOpenConfirmacion">
        <div class="form-container">
          <h1 class="ion-padding ion-text-center">
            <b>Consultar folio de pago</b>
          </h1>
          <ion-item>
            <h3 class="ion-padding ion-text-center">
              <b>Ingrese su codigo de vericifacion enviado por SMS.</b>
            </h3>
            <ion-label position="floating">Codigo:</ion-label>
            <ion-input
              type="text"
              [(ngModel)]="codigoVerificacion"
              required
            ></ion-input>
          </ion-item>
          <ion-button
            class="ion-text-center"
            shape="round"
            color="colorapd"
            size="large"
            strong="true"
            style="padding-top: 10px; padding-bottom: 10px"
            (click)="ValidarCodigo()"
            >&nbsp;Validar codigo</ion-button
          >
          <ion-button
            class="ion-text-center"
            shape="round"
            color="colorapd"
            size="large"
            strong="true"
            style="padding-top: 10px; padding-bottom: 10px"
            (click)="close()"
            >&nbsp;Cancelar</ion-button
          >
          <ion-text color="success"></ion-text>
        </div>
      </div>

      <!-- ============================================= modal data  ============================================================ -->

      <div [@openClose]="isOpen ? 'open' : 'closed'">
        <div class="form-container-folio" mode="md" *ngIf="isOpen">
          <ion-row class="ion-align-items-center" *ngIf="info.fecha!=''">
            <ion-col>
              <ion-label position="floating" style="font-weight: bold"
                >FOLIO :</ion-label
              >
            </ion-col>
            <ion-col>
              <ion-label position="floating">{{consultaFolio}}</ion-label>
            </ion-col>
          </ion-row>

          <ion-row class="ion-align-items-center" *ngIf="info.fecha!=''">
            <ion-col>
              <ion-label position="floating" style="font-weight: bold"
                >FECHA :</ion-label
              >
            </ion-col>
            <ion-col>
              <ion-label position="floating">{{info.fecha}} </ion-label>
            </ion-col>
          </ion-row>

          <ion-row class="ion-align-items-center" *ngIf="info.nombre!=''">
            <ion-col>
              <ion-label position="floating" class="" style="font-weight: bold"
                >NOMBRE :</ion-label
              >
            </ion-col>
            <ion-col>
              <ion-label position="floating">{{info.nombre}} </ion-label>
            </ion-col>
          </ion-row>

          <ion-row class="ion-align-items-center" *ngIf="info.garantia!=''">
            <ion-col>
              <ion-label position="floating" style="font-weight: bold"
                >GARANTÍA :</ion-label
              >
            </ion-col>
            <ion-col>
              <ion-label position="floating">{{ info.garantia }} </ion-label>
            </ion-col>
          </ion-row>

          <ion-row class="ion-align-items-center" *ngIf="info.municipio!=''">
            <ion-col>
              <ion-label position="floating" style="font-weight: bold"
                >MUNICIPIO :</ion-label
              >
            </ion-col>
            <ion-col>
              <ion-label position="floating">{{ info.municipio }} </ion-label>
            </ion-col>
          </ion-row>

          <ion-row class="ion-align-items-center" *ngIf="info.estado!=''">
            <ion-col>
              <ion-label position="floating" style="font-weight: bold"
                >ESTADO :</ion-label
              >
            </ion-col>
            <ion-col>
              <ion-label position="floating">{{ info.estado }} </ion-label>
            </ion-col>
          </ion-row>

          <ion-row class="ion-align-items-center" *ngIf="info.direccion!=''">
            <ion-col>
              <ion-label position="floating" style="font-weight: bold"
                >DIRECCIÓN :</ion-label
              >
            </ion-col>
            <ion-col>
              <ion-label position="floating">{{ info.direccion }} </ion-label>
            </ion-col>
          </ion-row>

          <ion-row class="ion-align-items-center" *ngIf="info.colonia!=''">
            <ion-col>
              <ion-label position="floating" style="font-weight: bold"
                >COLONIA :</ion-label
              >
            </ion-col>
            <ion-col>
              <ion-label position="floating">{{info.colonia}} </ion-label>
            </ion-col>
          </ion-row>

          <ion-row class="ion-align-items-center" *ngIf="info.municipio!=''">
            <ion-col>
              <ion-label position="floating" style="font-weight: bold"
                >MUNICIPIO :</ion-label
              >
            </ion-col>
            <ion-col>
              <ion-label position="floating">{{info.municipio}} </ion-label>
            </ion-col>
          </ion-row>

          <ion-row
            class="ion-align-items-center mt-3 mb-3"
            style="width:100%;border:0px;border-bottom:3px;border-style: dotted;}
                                                                   p.dashed {border-style: dashed;"
          >
            <ion-col> </ion-col>
          </ion-row>
          <ion-row class="ion-align-items-center" *ngFor="let item of data">
            <ion-col>
              <ion-label position="floating" style="font-weight: bold"
                >DETALLE:</ion-label
              >
            </ion-col>
            <ion-col>
              <ion-label position="floating">{{item[18]}} </ion-label>
            </ion-col>
          </ion-row>

          <!--  <ion-row class="ion-align-items-center" *ngFor="let item of data">

           
          <ion-col >
            <ion-label position="floating" style="font-weight: bold"
            >NUMERO DETALLE:</ion-label
          >
          </ion-col>
          <ion-col >
              <ion-label
                position="floating"
                style="font-weight: bold"
                *ngIf="item[16] > 0"
                >{{item[16]}}</ion-label
              >
            </ion-col> 
           
          </ion-row> -->
          <!--    <ion-row
            class="ion-align-items-center mt-3 mb-3"
            style="width:100%;border:0px;border-bottom:3px;border-style: dotted;}
                                                                    p.dashed {border-style: dashed;"
            *ngIf="detalle!=null"
          >
          </ion-row> -->
          <br />
          <ion-row class="ion-align-items-center mt-4">
            <ion-col
              style="
                display: flex;
                align-items: center;
                justify-content: flex-end;
              "
            >
              <div class="cantidad-container">
                <div class="label-container">
                  <ion-label style="font-weight: bold">SUBTOTAL :</ion-label>
                </div>

                <div class="resultado">
                  <ion-label>{{ info.subtotal}}</ion-label>
                </div>
              </div>
            </ion-col>
          </ion-row>

          <ion-row
            class="ion-align-items-center mt-4"
            *ngIf="info.descuento!=''"
          >
            <ion-col
              style="
                display: flex;
                align-items: center;
                justify-content: flex-end;
              "
            >
              <div class="cantidad-container">
                <div class="label-container">
                  <ion-label style="font-weight: bold">DESCUENTO :</ion-label>
                </div>
                <div class="resultado">
                  <ion-label>{{info.descuento}}</ion-label>
                </div>
              </div>
            </ion-col>
          </ion-row>

          <ion-row class="ion-align-items-center">
            <ion-col
              style="
                display: flex;
                align-items: center;
                justify-content: flex-end;
              "
            >
              <div class="cantidad-container">
                <div class="label-container">
                  <ion-label style="font-weight: bold">IMPORTE :</ion-label>
                </div>
                <div class="resultado">
                  <ion-label>{{info.importe}}</ion-label>
                </div>
              </div>
            </ion-col>
          </ion-row>

          <br />

          <ion-grid fixed>
            <ion-row>
              <!-- <ion-col size="6">
                    <ion-button
                  (click)="sendmail()"
                  data-desc="Reenviar recibo de pago"
                  class="ion-text-center"
                  expand="block"
                  fill="solid"
                  shape="round"
                  color="success"
                  ><ion-icon
                    style="color: white"
                    name="paper-plane-outline"
                  ></ion-icon
                  >&nbsp;<b>Enviar Recibo</b></ion-button
                ></ion-col
              >  -->

              <ion-col size="6">
                <ion-button
                  (click)="close()"
                  class="ion-text-center"
                  expand="block"
                  fill="solid"
                  shape="round"
                  color="success"
                  ><b><ion-icon name="arrow-back-outline" style="color: white"></ion-icon>
                  Regresar</b></ion-button
                >
              </ion-col>

              <ion-col size="6">
                <ion-button
                  *ngIf="info.estatus !== 'COBRADA'"
                  (click)="pagar()"
                  class="ion-text-center"
                  expand="block"
                  fill="solid"
                  shape="round"
                  color="success"
                  ><ion-icon name="cash-outline" style="color: white"></ion-icon
                  >&nbsp;<b>pagar</b></ion-button
                >

                <h3
                  *ngIf="info.estatus == 'COBRADA'"
                  color="primary"
                >
                  <b>ESTE FOLIO YA SE ENCUENTRA PAGADO.</b>
                </h3>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-text color="primary"> </ion-text>
        </div>
      </div>

      <!-- ============ pago ==============  -->
      <div class="form-container-pago" *ngIf="isOpenPago">
        <h1 class="ion-text-center">
          <b>INGRESAR FORMA DE PAGO</b>
        </h1>
        <ion-text color="primary"></ion-text>

        <div [ngStyle]="miEstilo">
          <iframe
            [src]="url"
            class="mi-iframe"
            frameborder="0"
            allowfullscreen
          ></iframe>
        </div>

        <ion-grid fixed>
          <ion-row>
            <ion-col size="6">
              <ion-button
                *ngIf="searchv==false"
                class="ion-text-center"
                expand="block"
                fill="solid"
                shape="round"
                color="success"
                (click)="confirmarpago()"
                >Finalizar pago</ion-button
              >
            </ion-col>

            <ion-col size="6">
              <ion-button
                *ngIf="searchv==false"
                class="ion-text-center"
                expand="block"
                fill="solid"
                shape="round"
                color="success"
                [routerLink]="['/main/facturacion']"
                >Facturar pago</ion-button
              >
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <!-- =========================================== catastro  ======================================================== -->

      <div [@openClose]="isOpenCatastro ? 'open' : 'closed'">
        <div
          class="form-container-folio-catastro"
          mode="md"
          *ngIf="isOpenCatastro"
        >
          <ion-row class="ion-align-items-center">
            <ion-col>
              <ion-label position="floating" class="bold-label"
                >CLAVE CATASTRAL:</ion-label
              >
            </ion-col>
            <ion-col>
              <ion-label position="floating">{{ folio }}</ion-label>
            </ion-col>
          </ion-row>

          <ion-row class="ion-align-items-center custom-row">
            <ion-col>
              <ion-label position="floating" class="label-title"
                >NOMBRE DEL CONTRIBUYENTE:</ion-label
              >
            </ion-col>
            <ion-col>
              <ion-label position="floating" class="label-content"
                >{{ infoCatastro.contribuyente }}
              </ion-label>
              <br />
            </ion-col>
            <br />
          </ion-row>

          <br />

          <ion-row class="ion-align-items-center mt-4">
            <ion-col
              style="
                display: flex;
                align-items: center;
                justify-content: flex-end;
              "
            >
              <div class="cantidad-container">
                <div class="label-container">
                  <ion-label style="font-weight: bold"
                    >SUBTOTAL:</ion-label
                  >
                </div>
                <div class="resultado">
                  <ion-label>{{ infoCatastro.Subtotal }}</ion-label>
                </div>
              </div>
            </ion-col>
          </ion-row>

          <ion-row class="ion-align-items-center mt-4">
            <ion-col
              style="
                display: flex;
                align-items: center;
                justify-content: flex-end;
              "
            >
              <div class="cantidad-container">
                <div class="label-container">
                  <ion-label style="font-weight: bold"
                    >{{ textDescuento }}:</ion-label
                  >
                </div>
                <div class="resultado">
                  <ion-label>{{ infoCatastro.Descuentos }}</ion-label>
                </div>
              </div>
            </ion-col>
          </ion-row>

          <ion-row class="ion-align-items-center">
            <ion-col
              style="
                display: flex;
                align-items: center;
                justify-content: flex-end;
              "
            >
              <div class="cantidad-container">
                <div class="label-container">
                  <ion-label style="font-weight: bold"
                    >IMPORTE:</ion-label
                  >
                </div>
                <div class="resultado">
                  <ion-label>{{ infoCatastro.Total }}</ion-label>
                </div>
              </div>
            </ion-col>
          </ion-row>

          <br />
          <ion-grid fixed>
            <ion-row>
              <ion-col size="6">
                <ion-button
                  (click)="close()"
                  class="ion-text-center"
                  expand="block"
                  fill="solid"
                  shape="round"
                  color="success"
                  ><ion-icon name="arrow-back-outline" style="color: white"></ion-icon>
                  <b>Regresar</b></ion-button
                >
              </ion-col>

              <ion-col size="6">
                <ion-button
                  *ngIf="importepredial > 0"
                  (click)="pagar()"
                  class="ion-text-center"
                  color="success"
                  expand="block"
                  shape="round"
                  ><ion-icon name="cash-outline" style="color: white"></ion-icon
                  >&nbsp;<b>Pagar</b></ion-button
                >

                <h3
                  *ngIf="importepredial < 1"
              
                >
                  <b>ESTA CLAVE CATASTRAL YA SE ENCUENTRA PAGADA.</b>
                </h3>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-text color="primary"> </ion-text>
        </div>
      </div>

      <!--   <ion-card
        class="card_apd brd_apd crd_h"
      >
        <ion-card-content style="padding-top: 20px; padding-bottom: 20px">
          <br />
          <ion-card-content class="in brd_apd" mode="md" *ngIf="isOpenCatastro">
            <ion-row class="ion-align-items-center">
              <ion-col>
                <ion-label
                  position="floating"
                  class=""
                  style="color: var(--ion-apd-grendark); font-weight: bold"
                  >CLAVE CATASTRAL :</ion-label
                >
              </ion-col>
              <ion-col>
                <ion-label
                  position="floating"
                  style="color: var(--ion-apd-grendark)"
                  >{{folio}}
                </ion-label>
              </ion-col>
            </ion-row>
            <ion-row class="ion-align-items-center">
              <ion-col>
                <ion-label
                  position="floating"
                  class=""
                  style="color: var(--ion-apd-grendark); font-weight: bold"
                  >NOMBRE DEL CONTRIBUYENTE :</ion-label
                >
              </ion-col>
              <ion-col>
                <ion-label
                  position="floating"
                  style="color: var(--ion-apd-grendark)"
                  >{{infoCatastro.contribuyente}}
                </ion-label>
              </ion-col>
            </ion-row>
            <ion-row
              class="ion-align-items-center mt-3 mb-3"
              style="width:100%;border:0px;border-bottom:3px;border-style: dotted;}
                                                                     p.dashed {border-style: dashed;"
              *ngIf="detalle!=null"
            >
              <ion-col> </ion-col>
            </ion-row>
            <ion-row
              class="ion-align-items-center mt-3 mb-3"
              style="width:100%;border:0px;border-bottom:3px;border-style: dotted;}
                                                                      p.dashed {border-style: dashed;"
              *ngIf="detalle!=null"
            >
            </ion-row>
            <ion-row class="ion-align-items-center mt-4">
              <ion-col> </ion-col>
              <ion-col>
                <ion-label
                  position="floating"
                  style="color: var(--ion-apd-grendark); font-weight: bold"
                  >SUBTOTAL: {{infoCatastro.Subtotal}}</ion-label
                >
              </ion-col>
            </ion-row>
            <ion-row class="ion-align-items-center mt-4">
              <ion-col> </ion-col>
              <ion-col>
                <ion-label
                  position="floating"
                  style="color: var(--ion-apd-grendark); font-weight: bold"
                  >{{textDescuento}}: {{infoCatastro.Descuentos}}</ion-label
                >
              </ion-col>
            </ion-row>
            <ion-row class="ion-align-items-center">
              <ion-col> </ion-col>
              <ion-col>
                <ion-label
                  position="floating"
                  style="color: var(--ion-apd-grendark); font-weight: bold"
                  >IMPORTE:&nbsp;&nbsp;&nbsp; {{infoCatastro.Total}}</ion-label
                >
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col style="background: rgba(0, 0, 0, 0) !important">
                <ion-item
                  style="background: rgba(0, 0, 0, 0) !important"
                  lines="none"
                >
                  <ion-button
                    (click)="close()"
                    expand="block"
                    color="secondary"
                    style="height: 50px"
                    ><ion-icon
                      color="primary"
                      name="arrow-back-circle-outline"
                      style="height: 50px; width: 50px"
                    ></ion-icon
                    >&nbsp;<b>Regresar</b></ion-button
                  >
                  <ion-button
                    slot="end"
                    *ngIf="importepredial > 0"
                    (click)="pagar()"
                    color="primary"
                    expand="block"
                    style="padding-left: 50px; height: 50px"
                    ><ion-icon
                      name="cash-outline"
                      style="color: white"
                      style="height: 50px; width: 50px"
                    ></ion-icon
                    >&nbsp;<b>Pagar</b></ion-button
                  >
                  <h2
                    slot="end"
                    *ngIf="importepredial < 1"
                    color="primary"
                    style="padding-left: 10px"
                  >
                    <b>ESTA CLAVE CATASTRAL YA SE ENCUENTRA PAGADA.</b>
                  </h2>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-text color="primary"> </ion-text>
          </ion-card-content>
        </ion-card-content>
      </ion-card> -->
      <!-- ============================================= pago  ============================================================ -->
      <!-- 
      <ion-card class="card_apd brd_apd" *ngIf="isOpenPago">
        <ion-item lines="none">
          <ion-button
            slot="end"
            (click)="search()"
            color="secondary"
            style="height: 30px; width: 110px; color: white"
            ><b
              ><ion-icon
                name="arrow-back-circle-outline"
                style="height: 30px; width: 30px; color: white"
              ></ion-icon></b
            >&nbsp;Regresar</ion-button
          >
        </ion-item>
        <ion-card-content>
          <ion-card-content class="in brd_apd" mode="md">
            <h1 class="ion-padding cl_r_apd ion-text-center">
              <b>Ingresar forma de pago</b>
            </h1>
            <ion-text color="primary"></ion-text>
            <iframe
              [src]="url"
              style="height: 460px; width: 100%; border: 0.5px"
            ></iframe>
            <ion-button
              *ngIf="searchv==false"
              class="ion-text-center"
              shape="round"
              color="colorapd"
              size="large"
              strong="true"
              style="
                padding-left: 20px;
                padding-top: 10px;
                padding-bottom: 10px;
              "
              (click)="confirmarpago()"
              >Finalizar pago</ion-button
            >
            <ion-button
              *ngIf="searchv==false"
              class="ion-text-center"
              shape="round"
              color="colorapd"
              size="large"
              strong="true"
              style="
                padding-left: 20px;
                padding-top: 10px;
                padding-bottom: 10px;
              "
              [routerLink]="['/facturacion']"
              slot="end"
              >Facturar pago</ion-button
            >
          </ion-card-content>
        </ion-card-content>
      </ion-card> -->

      <ion-row
        class="ion-align-items-center ion-justify-content-center"
        [ngStyle]="{'display':'none'}"
        style="overflow: hidden"
      >
        <ion-card>
          <svg
            id="barcode"
            style="
              position: relative;
              float: left;
              width: 200px;
              margin-left: calc(50% - 152px);
            "
          ></svg>
        </ion-card>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-content>
<!-- <app-footer></app-footer>
 -->
