<app-header

  backButton="/main/servicios"
  shouldShowHorizontalMenu="shouldShowHorizontalMenu"

  title=""
>
</app-header>

<ion-content>
  <div class="auth-form">
    <div class="form-container">
      <ion-row class="ion-align-items-center">
        <ion-col>
          <h1 position="floating" class="">
            Consultar folio de pago o clave catastral
          </h1>
          <br />
          <ion-input
            placeholder="Folio / clave castral"
            fill="solid"
            color="success"
          ></ion-input>
        </ion-col>
      </ion-row>
      <br />
      <ion-button
        (click)="showFolioInfo()"
        expand="block"
        fill="solid"
        shape="round"
        color="success"
      >
        Buscar
      </ion-button>
    </div>
  </div>
</ion-content>
<app-footer></app-footer>
