<app-header backButton="/main/home" title="Registro"></app-header>

<ion-content>
  <div class="d-flex-center">
    <form
      [formGroup]="form"
      class="auth-form"
      (ngSubmit)="submit()"
      (keypress.enter)="submit()"
    >
      <app-logo></app-logo>
      <!--============= Name ============-->
      <app-custom-input
        autocomplete="name"
        icon="person-outline"
        [control]="form.controls.usuario"
        type="text"
        label="Nombre completo: "
        maxlength="14"
      ></app-custom-input>

      <div
        class="validators"
        *ngIf="form.controls.usuario.errors && form.controls.usuario"
      >
        <div *ngIf="form.controls.usuario.errors?.['required']">
          El nombre es requerido
        </div>
        <div *ngIf="form.controls.usuario.errors?.['minLenght']">
          El nombre debe tener al menos 4 caracteres
        </div>
      </div>

      <!--============= email ============-->
      <app-custom-input
        autocomplete="email"
        icon="mail-outline"
        [control]="form.controls.correo"
        type="email"
        label="Correo: "
        (input)="ConvertirenMinusculas(form.controls.correo)"
      ></app-custom-input>

      <div
        class="validators"
        *ngIf="form.controls.correo.errors && form.controls.correo.touched"
      >
        <div *ngIf="form.controls.correo.errors?.['required']">
          El correo es requerido
        </div>
        <div *ngIf="form.controls.correo.errors?.['email']">
          Ingrese un correo valido
        </div>
      </div>

      <!--============= Telefono ============-->
      <app-custom-input
        autocomplete="phone"
        icon="call-outline"
        [control]="form.controls.telefono"
        type="phone"
        label="Teléfono: "
        (input)="formatoCelularContacto(form.controls.telefono)" 
      ></app-custom-input>

      <div
      class="validators"
      *ngIf="form.controls.telefono.errors && form.controls.telefono.touched"
    >
      <div *ngIf="form.controls.telefono.errors?.['required']">
        El número es requerido
      </div>
      </div>

      <!--============= Password ============-->
      <app-custom-input
        icon="lock-closed-outline"
        [control]="form.controls.contrasena"
        type="password"
        label="Contraseña: "

      ></app-custom-input>

      <div
        class="validators"
        *ngIf="form.controls.contrasena.errors && form.controls.contrasena.touched"
      >
        <div *ngIf="form.controls.contrasena.errors?.['required']">
          La contraseña es requerida
        </div>
      </div>

      <!--============= conf. Password ============-->

      <app-custom-input
        icon="lock-closed-outline"
        [control]="form.controls.confirmarContrasena"
        type="password"
        label="Confirmar contraseña: "
      ></app-custom-input>

      <div
        class="validators"
        *ngIf="form.controls.confirmarContrasena.errors && form.controls.confirmarContrasena.touched"
      >
        <div *ngIf="form.controls.confirmarContrasena.errors?.['required']">
          La contraseña es requerida
        </div>
      </div>

      <ion-button
        expand="block"
        mode="ios"
        class="submit"
        type="submit"
        [disabled]="form.invalid"
        color="success"

      >
        Resgistrar
        <ion-icon slot="end" name="person-add-outline"></ion-icon>
      </ion-button>
    </form>
  </div>
</ion-content>
<app-footer></app-footer>
