ion-menu::part(backdrop) {
  background-color: #0f959c6e;
}

ion-menu::part(container) {
  border-radius: 0 20px 20px 0;

  box-shadow: 4px 0px 16px #0f959c6e;
}

.icon-log-out {
  font-size: 24px;
  margin-left: 20px;
}

ion-content{
  --keyboard-offset: 0 !important;
  --background: #0c7075;

}

ion-toolbar{
  --background: #0c7075;

}

ion-title{
  color: #e8f7ff;
}


ion-item {
  font-size: 14px;
  color: #e8f7ff;
  --background:#0c7075;

  ion-icon {
    color: #e8f7ff;
  }

  &.active {
    color: white;
    --background: #6da5c0;
    ion-icon {
      color: white;
    }
  }
}


