ion-menu::part(backdrop) {
  background-color: linear-gradient(to  left, #b0b0b0, #d1d1d1);
}

ion-menu::part(container) {
  border-radius: 0 20px 20px 0;

  box-shadow: 4px 0px 16px #d1d1d1;
}

.icon-log-out {
  font-size: 24px;
  margin-left: 20px;
}

ion-content{
  --keyboard-offset: 0 !important;
  --background: linear-gradient(to  left, #b0b0b0, #d1d1d1);
  --padding-top: 20px;
}

ion-toolbar{
  --background: linear-gradient(to  left, #b0b0b0, #d1d1d1);

}

ion-title.menuH{
  color: #e8f7ff;
  font-size: 15px;
}


ion-item {
  font-size: 14px;
  color: #e8f7ff;
  --background:linear-gradient(to  left, #b0b0b0, #d1d1d1);

  ion-icon {
    color: #e8f7ff;
  }

  &.active {
    color: white;
    --background: linear-gradient(to  left, #b0b0b0, #d1d1d1);
    ion-icon {
      color: white;
    }
  }
}


