<ion-menu
  contentId="menu-content"
  menuId="menu-content"
  side="start"
  
>
<ion-header class="ion-no-border" >
  <ion-toolbar color="success">
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Menú</ion-title>

</ion-toolbar>
</ion-header>
  <ion-content> 
    
    <ion-menu-toggle auto-hide="false" *ngFor="let p of pages">
      <ion-item [ngClass]="{'active': currentPath === p.url}"   [routerLink]="p.url" routerDirection="root" >
        <ion-icon slot="start" [name]="p.icon"></ion-icon>
        <ion-label>{{p.title}}</ion-label>
      </ion-item>
  
    </ion-menu-toggle>
  
  </ion-content>

  <!-- <ion-footer>
    <ion-menu-toggle auto-hide="false" >
      <ion-item lines="none" routerLink="/main/home">
        <ion-icon slot="start"name="log-out-outline"></ion-icon>
        <ion-label>Cerrar Sesión</ion-label>
      </ion-item>
    </ion-menu-toggle>
  </ion-footer> -->
</ion-menu>

<ion-router-outlet id="menu-content" main></ion-router-outlet>


    
