/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

swiper-container {
  --swiper-pagination-bullet-inactive-color: var(--ion-color-step-200, #3dac0a);
  --swiper-pagination-color: var(--ion-color-success, #013304);
  --swiper-pagination-bullet-width: var(--swiper-pagination-bullet-size,20px);
  --swiper-pagination-bullet-height: var(--swiper-pagination-bullet-size,20px);
}



.modal-full-size {
  --width: 100%;
  --height: 100%;
}

.click {
  cursor: pointer;
}

ion-app {
  --ion-background-color: linear-gradient(to top, #f7f4ef, #8cbd62);
}

// src/global.scss

html {
  --ion-dynamic-font: var(--ion-default-dynamic-font);
  --ion-font-family: "Montserrat", sans-serif;
}

/*  */
/* ion-alert.select-alert {
  --background: #8cbd62!important;

  button {
      color: white !important;
      font-size: 20px !important;
  }

  .sc-ion-alert-md {
      color: white;
  }
} */

:root {
  --button-width: 150px; /* Ancho personalizado para el botón */
  --button-border-radius: 100px; /* Radio de borde personalizado para el botón */
}

/* Alerta auth*/
/* .custom-alert {
  --background: #fddede
  ;    
  

  .alert-wrapper.sc-ion-alert-md{
  border-radius: 20px; 
  width: 100%; 
  left: 10%;
  }

  
  .alert-title.sc-ion-alert-md{
    color: #a82424;
    font-weight: bold;
  }

  .alert-message.sc-ion-alert-md, .alert-input-group.sc-ion-alert-md{
    color: #d22e2e;
  }

}
 */

/* Media Query para el modo oscuro */

/* @media (prefers-color-scheme: dark) {
  h1, h2, h3, h4{
    color: white; 
  }
} */
