<app-header isModal="true"></app-header>

<ion-content  class="modal-content"  [fullscreen]="true">
 

  
  <div class="form-container">
    <div class="formRfc"></div>
      <form [formGroup]="form" class="auth-form">
        
        <p style="text-align: center;"><b>Se enviará la información al correo dado de alta en el RFC para su validación</b></p>
        <ion-input
        type="text"
        label="Ingrese su RFC"
        label-placement="floating"
        placeholder="RFC"
        color="success"
        fill="solid"
      ></ion-input>

        <ion-button
          class="ion-margin-top"
          expand="block"
          mode="ios"
          color="success"
        >
         ENVIAR INFORMACIÓN
        </ion-button>
      
      </form>
    </div>

 
</ion-content>

<app-footer></app-footer>