
img{
    border-radius:10px;

    &.selected{
        border: 3px solid var(--ion-color-success);
    }
}

.cropped-image {
    overflow: hidden; /* Oculta cualquier parte de la imagen que se extienda más allá del contenedor */
  }

   
  h1{
    font-size: 5vw;
    line-height: 4.5vw;
    padding: 20px;
  }

  .images-wrapper{
    width: 45vw;
    margin-top: 1%;
 }

 .description{
       
    display: flex;
    align-items: center;
    justify-content: center;
  
    border: 1px solid rgb(221, 217, 217);
    /* Borde del cuadro */
    padding: 30px;
    /* Ajusta el espaciado interno del cuadro según sea necesario */
    border-radius: 20px;
    /* Bordes redondeados del cuadro */
    box-shadow: 0 0 10px #f4f4f430;
    /* Sombra del cuadro */
    max-width: 500px;
    /* Ajusta el ancho máximo del cuadro según sea necesario */
    margin: 20px auto;
    /* Espaciado alrededor del cuadro y centrar en la página */
    box-sizing: border-box;
    /* Incluir el padding y el borde en el ancho total */
    background-color: #e0e0e03b;

}




  @media screen and (max-width: 767px) {
    .images-wrapper{
        width: 200%;
       
     }
     .ion-col-mobile-reorder {
        order: 2;
      }

      .ion-grid-mobile-reorder {
        order: 3;
      }

      .description{
       
            display: flex;
            align-items: center;
            justify-content: center;
          
            border: 1px solid rgb(221, 217, 217);
            /* Borde del cuadro */
            padding: 20px;
            /* Ajusta el espaciado interno del cuadro según sea necesario */
            border-radius: 20px;
            /* Bordes redondeados del cuadro */
            box-shadow: 0 0 10px #f4f4f430;
            /* Sombra del cuadro */
            max-width: 400px;
            /* Ajusta el ancho máximo del cuadro según sea necesario */
            margin: 30px auto;
            /* Espaciado alrededor del cuadro y centrar en la página */
            box-sizing: border-box;
            /* Incluir el padding y el borde en el ancho total */
            background-color: #e0e0e03b;
 
      }
        
    
  }

  @media screen and (max-width: 992px) {

        .images-wrapper{
            width: 90vw;
        }


       
  }
    
  


  