<app-header isModal="true" title="Publicaciones"></app-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-lg="6" size-md="12" size-sm="12" size="12">
        <ion-item>
          <ion-label>{{ post.prompt }}</ion-label>
          <ion-buttons slot="end">
            <ion-button>
              <ion-icon name="clipboard-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
        <br />
        <ion-text
          style="display: flex; align-items: center; justify-content: center"
          >{{ post.description }}</ion-text
        >
      </ion-col>

      <ion-col size-lg="6" size-md="12" size-sm="12" size="12">

        <ion-grid class="images-wrapper">
          <ion-row>
            <ion-col size="12">
              <img [src]="selectedImage" width="100%" height="90%" />
            </ion-col>
            <ion-col class="click" (click)="selectedImage = image" *ngFor="let image of post.images" size="3"  >
              <img [ngClass]="{'selected': selectedImage == image}" [src]="image"  width="95%" height="75%" />
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
