

img {
  border-radius: 10px;
  border: 3px solid --ion-color-medium;


  &.selected {
    border: 2px solid --ion-color-medium;
  }
}

.cropped-image {
  overflow: hidden;
  /* Oculta cualquier parte de la imagen que se extienda más allá del contenedor */
}


h1 {
  font-size: 5vw;
  line-height: 5vw;
  padding: 22px;
}

.images-wrapper {
  width: 45vw;
  margin-top: 10%;
}


ion-item.prompt-item {
  --border-width: 8px;
  --border-color: --ion-color-medium;
  --border-style: solid;
  --border-radius: 100px;
  --box-shadow: 0 0 50px margin: 1px white;
  --padding: 15px;
  /* Ajusta este valor según tus necesidades */


}


.description {

  display: flex;
  align-items: center;
  justify-content: center;

  border: 3px solid #e0e0e0;    /* Borde del cuadro */
  /* Borde del cuadro */
  padding: 30px;
  /* Ajusta el espaciado interno del cuadro según sea necesario */
  border-radius: 20px;
  /* Bordes redondeados del cuadro */
  box-shadow: 0 0 10px --ion-color-medium;
  /* Sombra del cuadro */
  max-width: 500px;
  /* Ajusta el ancho máximo del cuadro según sea necesario */
  margin: 20px auto;
  /* Espaciado alrededor del cuadro y centrar en la página */
  box-sizing: border-box;
  /* Incluir el padding y el borde en el ancho total */
  background-color: #e0e0e0e1;

}




@media screen and (max-width: 767px) {
  .images-wrapper {
    width: 200%;

  }

  .ion-col-mobile-reorder {
    order: 2;
  }

  .ion-grid-mobile-reorder {
    order: 3;
  }

  .description {

    display: flex;
    align-items: center;
    justify-content: center;

    border: 3px solid var(--ion-color-medium);
    /* Borde del cuadro */
    padding: 10x;
    /* Ajusta el espaciado interno del cuadro según sea necesario */
    border-radius: 20px;
    /* Bordes redondeados del cuadro */
    box-shadow: 0 0 10px --ion-color-medium;
    /* Sombra del cuadro */
    max-width: 320px;
    /* Ajusta el ancho máximo del cuadro según sea necesario */
    margin: 1px auto;

    /* Espaciado alrededor del cuadro y centrar en la página */
    box-sizing: border-box;
    /* Incluir el padding y el borde en el ancho total */
    background-color: #f3f3f3e4

  }
  img {
    border-radius: 10px;
    border: 3px solid var(--ion-color-medium);
  
  
    &.selected {
      border: 5px solid --ion-color-medium;
    }
  }




  .images-wrapper {
    width: 90vw;
    margin-top: 1%;
  }

}

@media screen and (max-width: 992px) {}